<p>REGISTRATE</p>

<mat-card class="form-box">



    <form [formGroup]="formulario" (ngSubmit)="sendForm()">
        <mat-form-field appearance="fill">
            <mat-label>Documento</mat-label>
            <input formControlName="dni" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input formControlName="lastName" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input formControlName="phone" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input formControlName="contrasena" matInput>
        </mat-form-field>

        <br>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput>
        </mat-form-field>
        <br>
        <button class="form-button" mat-stroked-button color="primary" type="submit">{{buttonLabel}}</button>
    </form>

</mat-card>