<p>REGIDYEEEERRRR</p>

<!-- <form [formGroup]="formulario" (ngSubmit)="sendForm()">
    <mat-form-field appearance="fill">
        <mat-label>Documento</mat-label>
        <input formControlName="dni" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input #nombre formControlName="name" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input #nombre formControlName="lastName" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Telefono</mat-label>
        <input #nombre formControlName="phone" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select formControlName="curso">
            <mat-option value="angular">Angular</mat-option>
            <mat-option value="React">React JS</mat-option>
            <mat-option value="vue">Vue JS</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button class="form-button" mat-button color="primary" type="submit">{{buttonLabel}}</button>
</form> -->