<div>
    <h1>Perfil del usuario: </h1>

    <mat-card class="mat-card">
        <mat-card-header>
            <mat-card-title>LASA</mat-card-title>
            <mat-card-subtitle>estudiante</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image>
        <div>
            <h3 class="profile-item">Email:</h3>
            <p class="profile-item">jorejorp@jsdo</p>

        </div>

        <div>
            <h3 class="profile-item">Cursos Registrados:</h3>
            <p class="profile-item">Angular</p>

        </div>
        <div>
            <h3 class="profile-item">Telefono:</h3>
            <p class="profile-item">3223-32242</p>

        </div>
        <div>
            <h3 class="profile-item">Pais:</h3>
            <p class="profile-item">Argentina</p>

        </div>


        <button mat-stroked-button color="primary" (click)="editStudentProfile()">Editar</button>


    </mat-card>


</div>