.profile-item{
    display: inline;
    margin-left: 5px;
    font-weight: bold;

    
}

.mat-card{
    text-align: left;
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 60px;
}

p{
    font-weight: lighter;
}