<div>
    <h1>Perfil del usuario: </h1>

    <mat-card class="mat-card">
        <mat-card-header>
            <mat-card-title>{{studentData.name}}{{studentData.lastName}}</mat-card-title>
            <mat-card-subtitle *ngIf="!studentData.isAdmin">Estudiante</mat-card-subtitle>
            <mat-card-subtitle *ngIf="studentData.isAdmin">Administrador</mat-card-subtitle>
        </mat-card-header>

        <div>
            <h3 class="profile-item">D.N.I:</h3>
            <p class="profile-item">{{studentData.dni}}</p>
        </div>

        <div>
            <h3 class="profile-item">Email:</h3>
            <p class="profile-item">{{studentData.mail}}</p>
        </div>

        <div>
            <h3 class="profile-item">Cursos:</h3>
            <p *ngIf="studentData.courses.length === 0" class="profile-item">No hay cursos Registrados</p>
            <p *ngIf="studentData.courses != 0" class="profile-item">{{studentData.courses}}</p>
        </div>

        <button mat-stroked-button color="primary" (click)="editStudentProfile()">Editar</button>

    </mat-card>
</div>