<h1>Lista de Alumnos Inscriptos</h1>

<mat-table #tabla [dataSource]="alumnosObservable" class="mat-elevation-z8">
    <!-- Dni Column -->
    <ng-container matColumnDef="dni">
        <mat-header-cell *matHeaderCellDef> Documento No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dni}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <!-- Curso Column -->
    <ng-container matColumnDef="curso">
        <mat-header-cell *matHeaderCellDef> Curso </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.curso}} </mat-cell>
    </ng-container>

    <!-- Eliminar Column -->
    <ng-container matColumnDef="eliminar">
        <mat-header-cell *matHeaderCellDef> Editar</mat-header-cell>
        <mat-cell *matCellDef="let element"><button mat-stroked-button color="primary"
                (click)="deleteStudent(element.id)">eliminar</button></mat-cell>
    </ng-container>

    <!-- Editar Column -->
    <ng-container matColumnDef="editar">
        <mat-header-cell *matHeaderCellDef> Editar</mat-header-cell>
        <mat-cell *matCellDef="let element"><button mat-stroked-button color="primary"
                (click)="abrirDialogEditar(true, element)">editar</button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<!-- <button mat-stroked-button (click)="abrirDialogEditar(false, '')">Inscribirse</button> -->


<!-- async json -->
<!-- <h3>Observable con Pipe ASYNC (Filtrado por ID > 2)</h3>
<div>{{studentsFiltered$ | async | json}}</div> -->

<!-- Seccion de promesa -->

<!-- <h3>Promesa desde Servicio</h3>
<div *ngFor="let i of studentsP">{{i.nombre}} {{i.curso}} {{i.dni}}</div> -->