<div>
    <h1>Lista de Usuarios</h1>

    <button mat-stroked-button color="primary" (click)="abrirDialogCrear()">Nuevo Usuario</button>

    <mat-table #tabla [dataSource]="alumnosObservable" class="mat-elevation-z8">
        <!-- Dni Column -->
        <ng-container matColumnDef="dni">
            <mat-header-cell *matHeaderCellDef> Documento No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dni}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
        </ng-container>

        <!-- Curso Column -->
        <ng-container matColumnDef="curso">
            <mat-header-cell *matHeaderCellDef> Curso </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <p *ngIf="element.courses.length > 0">{{element.courses}}</p>
                <p *ngIf="element.courses.length == 0">Sin Registro</p>
            </mat-cell>
        </ng-container>

        <!-- IS-ADMIN Column -->
        <ng-container matColumnDef="isAdmin">
            <mat-header-cell *matHeaderCellDef>Is Admin</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <p>{{element.isAdmin}}</p>
            </mat-cell>
        </ng-container>

        <!-- Eliminar Column -->
        <ng-container matColumnDef="eliminar">
            <mat-header-cell *matHeaderCellDef> Eliminar</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-stroked-button color="primary" (click)="deleteStudent(element.id)">eliminar</button>
            </mat-cell>
        </ng-container>

        <!-- Editar Column -->
        <ng-container matColumnDef="editar">
            <mat-header-cell *matHeaderCellDef> Editar</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-stroked-button color="primary" (click)="abrirDialogEditar(true, element)">editar</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>