<mat-list>

    <mat-list-item class="listItem" [routerLink]="['/alumnos']">Perfil Alumno</mat-list-item>
    <mat-list-item class="listItem"> <a [routerLink]="['/inscripcion']">inscripcion</a> </mat-list-item>
    <mat-list-item class="listItem"> <a [routerLink]="['/courseCreator']">Cursos Creator</a> </mat-list-item>
    <mat-list-item class="listItem"> <a [routerLink]="['/login']">Alumnos</a> </mat-list-item>
    <mat-list-item class="listItem"> <a [routerLink]="['/cursos']">Cursos</a> </mat-list-item>

</mat-list>