<h1>Cursos de Programacion</h1>

<div id="curso-div-gral">
    <mat-card *ngFor="let curso of courses" class="example-card">
        <mat-card-title>{{curso.title}}</mat-card-title>
        <mat-card-subtitle>{{curso.duration}} Semanas de duracion.</mat-card-subtitle>
        <mat-card-content>
            {{curso.description}}
        </mat-card-content>
        <mat-card-title>${{curso.price}}</mat-card-title>
        <mat-card-actions>
            <button mat-stroked-button color="primary"
                (click)="newInscription(curso.title, curso.id)">Inscribirme</button>
        </mat-card-actions>
        <mat-card-subtitle>Cantidad de Inscriptos {{curso.enrolledStudents.length}}</mat-card-subtitle>
    </mat-card>
</div>